.topbar, .middlebar, .bottombar {
    background-color: black;
    height: 4px;
    width: 30px;
    margin: 5px;
}

.hamburger-container {
    display: flex;
    float: right;
}

.hamburger {
    position: relative;
    top: 10px;
    height: 40px;
}

.hamburger:hover
.topbar,
.hamburger:hover
.middlebar,
.hamburger:hover
.bottombar {
    background-color: darkslategray;
    width:32px;
    height: 5px;
}

