.menu-div {
    display: flex;
    width: 100%;
    align-content: space-between;
}

.menu-items {
    list-style: none;
    text-decoration: none;
    font-size: large;
    width: 100%;
}
.menu-items a{
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    color: black;
}

/* .menu-items a:hover {
    cursor: pointer;
    width:100%;
    font-weight: bold;
}
*/

.menu-items, .active a {
    font-size: large;
}

.list-group-item:hover {
    background-color: rgba(200, 200, 200, 1);
}

.menu {
    width: 100%;
}

.navbar-brand {
    display: flex;
    padding: 5px 0px 5px 0px;
    width: 100%;
    color: black;
    margin-left: 15px;
}

.navbar-brand:hover {
    font-weight: bold;
    color: black;
}

.signout-button {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-content: center;
}
