.menu-div {
    display: flex;
    width: 100%;
    align-content: space-between;
}

.menu-items {
    list-style: none;
    text-decoration: none;
    font-size: large;
}
.menu-items li {
    padding: 5px 0px 5px 0px;
}

.menu-items li:hover {
    cursor: pointer;
    /* background: rgba(0, 0, 0, .2); */
    width:fit-content;
    color: rgb(80, 80, 80);
    font-weight: bold;
}